body {
  font-family: Arial, sans-serif;
  background-color: #c4ddf7; /* Bootstrap light background */
  color: #343a40; /* Bootstrap dark text color */
  margin: 0;
}
.chart-shadow-container {
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px;
}

.lowest-close-text {
  margin-top: 5px;
  font-size: 14px;
  color: #dc3545; /* Bootstrap danger color for emphasis */
  font-weight: bold;
}